@import url("https://fonts.googleapis.com/css?family=Cutive+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
html,
body {
  margin: 0px;
  padding: 0px;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-size: 1.05em;
}
.background {
  background: linear-gradient(
      217deg,
      rgba(255, 0, 255, 0.8),
      rgba(255, 0, 255, 0) 70.71%
    ),
    linear-gradient(
      127deg,
      rgba(11, 250, 0243, 0.8),
      rgba(11, 250, 243, 0) 70.71%
    ),
    linear-gradient(
      536deg,
      rgba(116, 255, 222, 0.8),
      rgba(116, 255, 222, 0) 70.71%
    );
  font-family: sans-serif;
  width: 100%;
  height: 120vh;
  position: absolute;
  top: 0px;
  z-index: -1;
}

.background.xp {
  background:url("images/wxp.png");
  background-size:cover;
  filter:blur(2px so)
}


.start {
  position:fixed;
  overflow:hidden;
  width:380px;
  z-index:4000;
  border-radius:5px;
  left:0;  
  bottom:0px;
  transition:bottom .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.start.hidden,
.start.hidden:after {
  bottom:-4000px;
}
 

.start:after {
  position:fixed;
  width:100%;
  bottom:0px;
  height:30px;
  z-index:3000;
  content:"";
  background:url("images/taskbar.png")
}

h2,
label,
h3,
h4,
h5,
a,
button,
input,
pre {
  font-family: "Cutive Mono", monospace;
  text-align: left;
}
p,
li {
  font-family: lato;
}

h2 {
  text-align:center;
  font-size:68px;
}

p {
  line-height: 1.5em;
  text-align: left;
}

#mc_embed_signup {
  background: #fff;
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
  text-align: center;
}

#mc_embed_signup * {
  text-align: center;
}

#mc_embed_signup input.email {
  margin: 5px auto;
  text-align: left;
  max-width: 550px;
  padding: 5px 10px;
}

#mc_embed_signup input.button {
  margin: auto;
}

/**                               
   _____        _____             
  |     |_ _   |  |  |___ ___ ___ 
  | | | | | |  |     | -_|  _| . |
  |_|_|_|_  |  |__|__|___|_| |___|
        |___|                     
                     
**/

.hero {
  text-align: left;
  margin: 250px 175px 125px auto;
  width: 60%;
  max-width: 1135px;
  min-height: 17vw;
  color: white;
}

.hero .classy {
  position: absolute;
  margin-top: -4vw;
  margin-left: -3vw;
  line-height: 1.4em;
  font-size: 2.5vw;
}

h1 {
  font-family: "Rubik Mono One", sans-serif;
  margin-bottom: 0px;
  line-height: 7vw;
  font-size: 7vw;
  font-weight: normal;
}

.new:before {
  content: "new";
  background: rgb(255, 10, 181);
  border-radius: 4px;
  color: white;
  display: inline-block;
  width: 35px;
  font-size: 11px;
  height: 14px;
  margin: auto;
}

a {
  background: rgba(255, 255, 255, 0.5);
  display: inline-block;
  white-space: nowrap;
  padding: 5px 60px;
  text-decoration: none;
  transition: background 0.4s ease;
  color: #43005b;
  font-weight: bold;
  text-align: center;
  position: relative;
  transition: all 0.4s ease;
  transform: scale(1);
}

a:before {
  content: "";
  width:99%;
  height: 100%;
  left: 0px;
  right:0px;
  top: 0px;
  position: absolute;
  z-index: 0;
}

a:hover {
  background: rgba(255, 255, 255, 0.8);
  transform: scale(0.97);
}
a:hover:before {
  top: 3px;
}

.links {
  display: flex;
}

.links a {
  flex-grow: 1;
  margin: 2px;
}

.links + div {
  margin-top: 2px;
}

.links a svg {
  max-width: 28px !important;
  vertical-align: middle;
  margin: 10px;
  margin-left: -16px;
  margin-top: 8px;
}

/**
   _____        _____         _           _   
  |     |_ _   |     |___ ___| |_ ___ ___| |_ 
  | | | | | |  |   --| . |   |  _| -_|   |  _|
  |_|_|_|_  |  |_____|___|_|_|_| |___|_|_|_|  
        |___|                                                                  
  
**/

.container {
  max-width: 1000px;
  margin-top: -250px;
  width: 80%;
  margin: auto;
}

.content.intro {
  padding:50px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row,
.row div {
  box-sizing:border-box;
  padding:25px;
}

.col33 {
  width: 33.333%;
}

.col50 {
  width: 50%;
}

.col25 {
  width: 25%;
}

.col66 {
  width: 66.666%;
} 
.history {
  padding:0px 25px;
}
.history h5,
.history p {
  margin-bottom:0px;
}

.history p {
  font-size:.8em;
  opacity:.5;
  margin:0px;
}


a.inline {
  display: inline;
  font-family: "lato", sans-serif;
  font-weight: 100;
  padding: 0px;
  position: relative;
  color: rgba(125, 18, 158, 0.3);
  background: linear-gradient(
      217deg,
      rgba(255, 0, 255, 0.8),
      rgba(255, 0, 255, 0) 70.71%
    ),
    linear-gradient(
      127deg,
      rgba(11, 250, 0243, 0.8),
      rgba(11, 250, 243, 0) 70.71%
    ),
    linear-gradient(
      536deg,
      rgba(116, 255, 222, 0.8),
      rgba(116, 255, 222, 0) 70.71%
    );
  background-clip: text;
  -webkit-background-clip: text;
}

a.inline:before {
  background: linear-gradient(
      217deg,
      rgba(255, 0, 255, 0.8),
      rgba(255, 0, 255, 0) 70.71%
    ),
    linear-gradient(
      127deg,
      rgba(11, 250, 0243, 0.8),
      rgba(11, 250, 243, 0) 70.71%
    ),
    linear-gradient(
      536deg,
      rgba(116, 255, 222, 0.8),
      rgba(116, 255, 222, 0) 70.71%
    );
  position: absolute;
  height: 2px;
  margin-top: 19px;
}
a.inline:hover {
  transform: scale(1);
}

.content {
  background: white;
  max-width: 900px;
  margin: 125px auto 75px auto;
  padding: 50px 0px;
}

.examples {
  padding:0px;
}

.examples .example {
  display: flex;
  flex-direction: column;
  margin-top: 110px;
  align-items: flex-end;
  justify-content: center;
  height: 300px;
  background: linear-gradient(
      360deg,
      rgba(255, 0, 255, 0.68),
      rgba(255, 0, 255, 0) 70.71%
    ),
    linear-gradient(
      127deg,
      rgba(11, 250, 0243, 0.68),
      rgba(11, 250, 243, 0) 70.71%
    ),
    linear-gradient(
      536deg,
      rgba(116, 255, 222, 0.68),
      rgba(116, 255, 222, 0) 70.71%
    );
}
.examples .example * {
  transition: all .4s ease;
}
.examples .example:hover {
  background:white;
}
.examples .example:hover h3 { 
  opacity:0;
}
.examples a.example:hover .image{
  mix-blend-mode: normal;
}
.examples p {
  max-width:700px;
  text-align:center;
  line-height:2em;
  letter-spacing:.25em;
  margin:50px auto 25px auto;
}
.examples p.faded {
  opacity:.5;
  margin-top:75px;
}

.examples .example .image {
  width: 50%;
  left: 0px;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: 50%;
  z-index: -1;
  mix-blend-mode: soft-light;
}

.examples .example .image:before {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  content: "";
  left: 0;
}

.examples .example .image + .image {
  left: 50%;
  width: 50%;
  height: 100%;
  border:1px solid white
}

.fix-spacing {
  width: 0px;
}

.examples h3 {
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.68);
  font-weight: normal;
  font-size: 66px;
  color: white;
  font-family: "Rubik Mono One", sans-serif;
  white-space: normal;
  text-align: center;
  line-height: 54px;
  padding: 0px;
  margin: auto;
  margin-bottom: -28px;
  align-self: flex-end;
  max-width: 800px;
}
.trimble h3 {
  font-size:62px;
}


a.example.single .image {
  width:100%;
}
a.example.single .image + .image {
  background-image:none;
  border-left:0px  
}


.impact .image {
  background-image: url("images/impwebsite.jpg");
}
.impact .image + .image {
  background-image: url("images/impcar.jpg");
}

a.example.glassman.single .image {
  background-image: url("images/glassmancard.png");
  width:100%;
}
a.example.single.glassman .image + .image {
  background-image:none;
  border-left:0px  
}

.novity .image {
  background-image: url("images/novitywebsite.jpg");
}
.novity .image + .image {
  background-image: url("images/novitycard.jpg");
}

.trimble .image {
  background-image: url("images/trmbapp.png");
}
.trimble .image + .image {
  background-image: url("images/trmbapp.jpg");
}

.bring-yo-skills-to-work-day a {
  display: inline;
  margin: 0px;
  padding: 0px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}

.skills-box {
  width: 175px;
  min-height: 150px;
  padding: 10px 20px;
  position: relative;
  z-index: 0;
  margin: 5px;
  display: inline-block;
}


.skills-box:before,
.skills-box:after {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  padding: 2px;
  z-index: -5;
}

.skills-box:before {
  background: white;
  left: 2px;
  right: 2px;
  bottom: 2px;
  top: 2px;
  z-index: -4;
}

.skills-box:after {
  background: linear-gradient(
      217deg,
      rgba(255, 0, 255, 0.8),
      rgba(255, 0, 255, 0) 70.71%
    ),
    linear-gradient(
      127deg,
      rgba(11, 250, 0243, 0.8),
      rgba(11, 250, 243, 0) 70.71%
    ),
    linear-gradient(
      536deg,
      rgba(116, 255, 222, 0.8),
      rgba(116, 255, 222, 0) 70.71%
    );
}

.neat-stuff {
  text-align: left;
}
a.transemotion,
a.elemental,
a.tumor,
a.beneath {
  position: relative;
  width: 100%;
  height: 180px;
  max-width: 100%;
  padding: 0px;
  margin-top: 50px;
}

.neat-stuff h3 {
  text-align: center;
}

a.transemotion span,
a.elemental span,
a.tumor span,
a.beneath span {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  height: 150px;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.75);
}

.neat-stuff a span {
  transition: all 0.4s ease;
}

.neat-stuff a:hover span {
  opacity: 0;
}

.transemotion .image,
.elemental .image,
.tumor .image,
.beneath .image {
  background-size: cover;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 180px;
  filter: grayscale(90%);
  opacity: 0.5;
  transition: filter, opacity 0.5s ease;
}

.transemotion:hover .image,
.elemental:hover .image,
.tumor:hover .image,
.beneath:hover .image {
  filter: grayscale(10%);
  opacity: 0.9;
}

.transemotion .image {
  background-image: url("images/transemotion.gif");
}

.elemental .image {
  background-image: url("images/elemental_master.gif");
}

.tumor .image {
  background-image: url("images/tumor.gif");
  background-position: 0 85%;
}

.beneath .image {
  background-image: url("images/beneath.gif");
  background-position: 0 50%;
}

.social-proof {
  display: flex;
  align-items: center;
}

.social-proof div {
  padding: 5px;
}

.social-proof h2 {
  text-align: left;
}

.social-proof p {
  font-size: 1.2em;
  padding: 5px;
  position: relative;
}

.social-proof img {
  max-width: calc(50%);
}

.countdown,
.countdown p {
  text-align: center;
  margin-bottom: 50px;
}

.refresh-claim {
  width: 32px;
  position: absolute;
  margin-left: -40px;
}
.refresh-claim:hover {
  animation: rotate 1s linear infinite;
}

audio {
  display: block;
}

.refresh-claim:active {
  transform: scale(0.8);
}
 
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#terminal {
  background:rgba(255,255,255,.25);
  transition:all .4s ease;
  margin-bottom:2px;
}

#terminal.hidden {  
  max-width:45px;
  overflow:hidden;
}

#terminal.hidden button,
#terminal.hidden input {  
  opacity:0;
}

#shutdown {
  position:fixed;
  left:0px;
  right:0px;
  top:0px;
  display:none;
  background:#5a7edc url("images/winxp.jpg") 50% no-repeat;
  bottom:0px;
  z-index:5000;
}
#shutdown audio {
  display:none;
}

#shutdown .off {
  width:100%;
  height:100%;
  background:black;
  z-index:6000;
  display:none;
  position:fixed;
}



#startup {
  position:fixed;
  left:0px;
  right:0px;
  top:0px;
  display:none;
  background:#3333ab url("images/startup.png")  no-repeat;
  background-size:cover;
  bottom:0px;
  z-index:5000;
}
#startup audio {
  display:none;
}

#terminal .controls {
  display:flex;
  background:rgba(255,255,255,.25);
  position:relative;
}

#terminal input {
  padding:10px 15px;
  display:inline-block;
  width:100%;
  
  background:transparent;
  box-sizing:border-box;
  font-size:19px;
  border:none; 
}

#terminal label {
  padding:10px 15px;
}

#terminal button {
  position:absolute;
  background:rgba(255,255,255,.55);
  right:7px;
  top:7px;
  bottom:7px;
  padding:4px 14px;
  border-radius:4px;
  border:none; z-index:50;
}
 
#terminal .output {
  background:rgba(255,255,255,.55);
  display:block;
  width:100%;
  padding:20px;
  display:none;
  box-sizing:border-box;
  position:relative;
}

#terminal .output button {
  bottom:auto;
  padding-left:7px;
  padding-right:7px;
}


@media screen and (max-width: 1060px) {
  .hero,
  h1 {
    font-size: 9vw;
    line-height: 10vw;
    margin:200px auto;
  }
  h2 {
    font-size:24px
  }
  .hero .classy { 
    font-size:3.3vw;
  }
  .links  {
    flex-direction: column;
    flex-wrap:wrap;
  }

  a.example h3 {
    font-size:8.5vw;
    line-height:8.5vw;
    margin-top:-50px;
  }
  
  .row,
  .row > div {
    display:block;
    width:100%;
  }

  .skills-box {
    width: 100%;
    min-height: 0px;
    text-align: center;
  }
}

@media screen and (max-width: 460px) {
  .hero,
  h1 {
    font-size: 12vw;
    line-height: 12vw;
    margin:200px auto;
  }
  .row,
  .row > div {
    padding:0px;
  }
  .hero .classy { 
    font-size:4.5vw;
    margin-top: -5vw;
    margin-left: -5vw;
  }


} 

@media (orientation: landscape) {
  body * {
    color:red;
  }

}
@media (orientation: portrait) {
  body * {
    color:green;
    content:env(fold-left);
  }

}

@media (spanning: single-fold-vertical) {
  body * {
    color:purple!important; 
}
}
@media (spanning: none) {
  body * {
    color:pink!important;
  }
}
@media (spanning: single-fold-horizontal) {
  body * {
    color:blue!important;
  }
}
 